@font-face {
  font-family: "Iosevka";
  src: url("./iosevka-regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  overflow: hidden;
}

#title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  flex-direction: column;

  font-size: 5rem;
  font-weight: bold;
  user-select: none;
  color: white;

  font-family: "Poppins", sans-serif;
  text-align: center;

  h1 {
    font-family: "Pacifico", cursive;
    text-shadow: 0 0 5px black;
  }
}

#links {
  z-index: 100;

  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-15%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;

  ul li {
    font-family: "Iosevka", "Source Code Pro", monospace;
    list-style: none;
    margin: 1rem 0;

    a {
      font-size: 2rem;
      color: white;
      text-decoration: none;

      &:hover {
        color: #ffc107;
      }
    }

    &:before {
      content: "» ";
      color: white;
      font-size: 2rem;
    }
  }
}

#search {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  flex-direction: column;

  position: absolute;
  transform: translateY(-75%);

  form {
    width: 480px;

    input {
      user-select: none;

      width: 100%;
      padding: 12px 24px;

      background-color: transparent;
      transition: transform 250ms ease-in-out;
      font-size: 1rem;
      font-family: "Poppins", sans-serif;
      line-height: 18px;

      color: white;
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: 18px 18px;
      background-position: 95% center;
      border-radius: 50px;
      border: 1px solid white;
      transition: all 250ms ease-in-out;
      backface-visibility: hidden;
      transform-style: preserve-3d;

      &::placeholder {
        text-transform: uppercase;
        letter-spacing: 1.5px;
        color: white;
      }

      &:hover,
      &:focus {
        padding: 12px 0;
        outline: 0;
        border: 1px solid transparent;
        border-bottom: 1px solid white;
        border-radius: 0;
        background-position: 100% center;
        user-select: all;
      }
    }
  }
}

#git-icon {
  position: absolute;
  transform: translate(-10%, -10%);
  bottom: 0;
  right: 0;

  width: 50px;
  height: 50px;

  button {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    cursor: pointer;
  }
}
